html {
  background-color: #d5d5d5;
}

#map {
  margin: auto;
  width: 95vw;
  height: 65vh;
  /* margin-bottom: 1vh; */
}

#controls {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  width: 100vw;
}

.leaflet-control-attribution {
  font-size: 3ch;
}

#vaultTypeLabel {
  grid-column: 1;
  grid-row: 2;
  align-self: flex-end;
  font-size: 3ch;
  color: black;
  font-weight: bold;
  visibility: hidden;
}

#addRock {
  grid-column: 3;
  grid-row: 1;
}

#vaultType {
  width: 130px;
  font-size: 3ch;
  grid-column: 1;
  grid-row: 3;
  background-color: gray;
  font-weight: bold;
  border: none;
  /* height: 60px; */
  visibility: hidden;
}

#dateInput {
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  font-size: 2ch;
  /* visibility: hidden; */
}



button {
  width: 90%;
  height: 6vh;
  font-size: 2ch;
  font-weight: bold;
  background-color: #616161;
  border: none;
  border-radius: 10px;
}

#undo {
  grid-column: 4;
  grid-row: 1;
  color: white;
  display: flex;
  justify-content: center;
  justify-self: right;
  align-items: center;
}

#footageInputLabel {
  grid-column: 2 / span 3;
  grid-row: 2;
  font-size: 3ch;
  color: black;
  font-weight: bold;
  align-self: flex-end;
}


.footageStuff {
  visibility: hidden;
}

#footageInput {
  grid-column: 2 /span 3;
  grid-row: 3;
  height: 5vh;
  font-size: 2.5ch;
  width: 50%;
}


#addBox {
  grid-column: 1;
  grid-row: 1;
}

#addBore {
  grid-column: 2;
  grid-row: 1;
}

#finish {
  grid-column: 4;
  grid-row: 2;
  display: flex;
  justify-content: center;
  justify-self: right;
  align-items: center;
  margin-top: 10px;
  background-color: #005400;
  color: white;
}

#submit {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  justify-self: right;
  align-items: center;
  /* margin-top: 10px; */
  background-color: #af0000;
  color: white;
}

.inputButton {
  width: 95%;
  color: white;
  background-color: #0a0a61;
}

.asBuiltPopup {
  background-color: yellow;
}

.asBuiltPopup>.leaflet-popup-tip-container {
  display: none;
}

.asBuiltPopup>.leaflet-popup-content-wrapper {
  background-color: yellow;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.asBuiltNumberHeader {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 2ch;
  text-align: center;
}

.asBuiltPopup>.leaflet-popup-content-wrapper>.leaflet-popup-content {
  width: fit-content;
  margin: 0;
}

.leaflet-popup-content p {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.totalsText {
  font-size: 3ch;
  font-weight: bold;
  width: fit-content;
}